// 앱 전체 공통 css

input,
select,
textarea {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

input {
  min-height: 32px;
}

select {
  min-height: 36px;
}

button {
  border: 1px solid #dddddd;
  padding: 7px;
  border-radius: 5px;
  min-width: 50px;
}

table {
  width: 100%;
  border: 1px solid #eeeeee;

  thead {
    background-color: #3E3E3E;
    color: #fff;
    text-align: center;
  }

  td {
    padding: 6px 26px;
    text-align: center;
  }
}